body {
    margin: 0px;
    background: black;
}

iframe {
    border: 0px;
}

.menu {
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: 200px;
    background: #DEF;
    padding: 10px;
}

.menu figure {
    margin: 0px;
    padding: 0px;
}

.menu img {
    width: 180px;
}
